<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <img class="logo" src="{{ url_for('static', filename='logo_kalla_toyota_resize.png') }}" alt="logo">
    </header>
    <div id="main" class="choose">
        <span style="font-size:30px;cursor:pointer" onclick="toggleNav()"> 
            <p id="nav-toggle">&#9776;</p>
        </span>
    </div>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="toggleNav()">&times;</a>
        <a href="{{ url_for('home') }}" class="{% if title == 'Home' %}active{% endif %}">Home</a>
        <a href="{{ url_for('absorber') }}" class="{% if title == 'Prediksi Penggantian Absorber' %}active{% endif %}">Prediksi Penggantian Absorber</a>
        <a href="{{ url_for('wiper') }}" class="{% if title == 'Prediksi Penggantian Wiper' %}active{% endif %}">Prediksi Penggantian Wiper</a>
        <a href="{{ url_for('battery') }}" class="{% if title == 'Prediksi Penggantian Aki' %}active{% endif %}">Prediksi Penggantian Aki</a>
        <a href="{{ url_for('clutch') }}" class="{% if title == 'Prediksi Penggantian Kampas Kopling' %}active{% endif %}">Prediksi Penggantian Kampas Kopling</a>
        <a href="{{ url_for('brake') }}" class="{% if title == 'Prediksi Penggantian Kampas Rem' %}active{% endif %}">Prediksi Penggantian Kampas Rem</a>
    </div>
    <div id="contentArea" class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p class="copyright">@copyright2024</p>
    </footer>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
